/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >1%,last 2 versions,ios 8
*/

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
}

body{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F8F8FA;;
}

.container{
  max-height: 1600px;
  padding: 0 34px;
}

.header{
  height: 69px;
  background: #FFFFFF;
}

.header__inner{
  width: 100%;
  height: 69px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__inner--col{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__burger{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__burger--img{
  width: 34px;
  height: 34px;
  margin-right: 37px;
}

.header__search{
  max-width: 266px;
  height: 34px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__search input[type="search"]{
  width: 100%;
  height: 100%;
  background: #F8F8FA;
  padding: 11px 15px 9px;
  border: 1px solid rgba(67, 79, 99, 0.2);
  border-radius: 17.5px;
  background: url(../image/search.png) no-repeat center right;
  background-size: auto 100%;
}

.header__message a{
  padding-right: 30px;
}

.header__message img{
  width: 20px;
}

.header__logout{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 76px;
}

.header__logout--photo{
  width: 34px;
  height: 34px;
  margin-right: 14px;
  border-radius: 17.5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF));
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  background-blend-mode: soft-light, normal;
}

.header__logout--info{
  display: block;
  margin-right: 7px;
}

.header__logout--jobtitle{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  color: rgba(21, 21, 21, 0.5);

}

.header__logout--fullname{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  color: rgba(21, 21, 21, 0.5);

}

.header__logout--ad{
  width: 10px;
  height: 7px;
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}



.menu__opacity{
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.3;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  /*background-color: #ECEFF1;*/
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}


.menu{
  top: 0;
  display: block;
  position: fixed;
  left: -100%;
  height: 100%;
  z-index: 10;
  visibility: hidden;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__line{
  width: 248px;
  height: 1px;
  background-color: #8B949F;
  margin: 25px 34px 0 37px;
}

.logo{
  margin: 7px 27px;
  width: 154px;
  height: 75px;
}

.setting{
  margin-top: 36px;
}

.menu__data{
  margin-left: 36px;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  /* identical to box height */

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;

  color: #1E2C43;

}

.menu__main{
  padding: 33px 0 0 34px;
}

.menu__section{
  margin-bottom: 57px;
}

.menu__section--title{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;

  color: #097CB4;
  margin-bottom: 26px;
}

.menu__items{
  list-style: none;
}

.menu__item{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6px 16px 6px 0;
  gap: 18px;

  margin-right: 40px;
  border-radius: 25px;
}

.menu__item img{
  width: 20px;
}

#menu__toggle{
  display: none;
}

#menu__toggle:checked ~ .menu__opacity{
  visibility: visible;
  left: 0;
}
#menu__toggle:checked ~ .menu {
  visibility: visible;
  left: 0;
}






@media (max-width: 1400px) {
  .container{
    padding: 0 10px;
  }
}

@media (max-width: 1200px) {
  .header__logout{
    margin-left: 30px;
  }
  .header__search{
    max-width: 266px;
  }
}

@media (max-width: 750px) {
  .header__search{
    display: none;
  }
  .header__logout{
    margin-left: 10px;
  }
  .header__message a{
    padding-right: 10px;
  }

}

@media (max-width: 380px) {

}
